.intro {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0.46) 100%
    ),
    url("../../assets/arenda-spectehniki-intro.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-text {
  margin: 0 3.1vw 6.45vh 3.1vw;
}

.intro-p {
  margin: 2.35vh 0 3.85vh 0;
  width: 30.3vw;

  color: #fff;
  font-size: 0.886vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.btn-consult {
  width: 12.22vw;
  height: 3.85vh;
  border-radius: 10px;
  border: none;
  background-color: #00accd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: #fff;
  font-size: 0.886vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.34px;
}

.btn-consult:hover {
  background-color: #009dbb;
}

.btn-consult:active {
  background-color: #00829b;
}

.about-1,
.about-2 {
  margin: 0 3.1vw;
}

.about-block-1 {
  display: flex;
  flex-direction: row;
}

.about-num-1,
.about-text-1,
.about-card-1,
.about-card-2 {
  flex: 1;
}

.about-num-1 {
  margin-right: 1.55vw;
  width: 1.25vw;
  height: 2.3vh;
}

.icon-size {
  width: 1.25vw;
  height: 2.3vh;
}

.about-h-1 {
  margin: 0;
  margin-bottom: 2.9vh;

  color: #161616;
  font-size: 3.334vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.135vw;
}

.about-list {
  margin-left: 0.72vw;
  opacity: 0.8;
}

.about-list li {
  list-style-type: none;
  position: relative;
  padding-left: 0.72vw;
  margin-top: 1.63vh;
  width: 30vw;

  color: #161616;
  font-size: 0.885vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.about-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(130%);
  width: 0.31vw;
  height: 0.58vh;
  background-color: #161616;
  border-radius: 50%;
}

.about-block-2 {
  display: flex;
  flex-direction: row;
  margin-top: 6.2vh;
}

.about-card-1 {
  margin-right: 1.55vw;
}

.about-img-1 {
  width: 46.1vw;
  height: 40.4vh;
  object-fit: cover;
  border-radius: 12px;
}

.about-h2-1 {
  margin: 3.1vh 0 1.55vh 0;

  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.013vw;
}

.about-p-1,
.about-p-2 {
  margin: 0;
  opacity: 0.6;

  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.008vw;
}

.about-p-1 {
  width: 26.1vw;
}

.about-2 {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 5vh;
  margin-top: 11.1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-desc-2 {
  width: 37.86vw;
  height: 69.14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text-2 {
  width: 33.85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-h-2 {
  margin: 0;

  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.025vw;
}

.about-p-2 {
  width: 25.1vw;
  margin-top: 1.55vh;
}

.about-img-2 {
  width: 33.85vw;
  height: 46.3vh;
  object-fit: cover;
  border-radius: 20px;
}

.about-img-2-1 {
  display: none;
}

.switch-block {
  width: 50.15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48.07vw;
}

.switch-links li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #161616;
  margin-bottom: 1.15vh;
}

.switch-links li:hover {
  color: #00accd;
}

.link-list {
  display: flex;
  flex-direction: column;
}

.link-num {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.78vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.014vw;

  margin-right: 0.2vw;
  opacity: 0.8;
}

.link-num-pressed {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.78vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.014vw;

  margin-right: 0.2vw;
  color: #00accd;
}

.link-text {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.009vw;

  opacity: 0.8;
}

.link-text-pressed {
  color: #00accd;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.009vw;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

.link-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

.switch-text {
  height: 46.3vh;
}

.switch-text-h {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 3.335vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.033vw;

  margin: 0 0 2.28vh 0;
  width: 48.07vw;
}

.switch-text-p {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.834vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.008vw;

  margin: 0;
  width: 21.95vw;
}

@media (max-width: 768px) {
  .intro {
    background-position: 65% center;
  }

  .intro-text {
    margin: 0 2vw 6.87vh 2vw;
  }

  .intro-p {
    margin: 2.85vh 0 4.75vh 0;
    width: 82.9vw;

    font-size: 3.59vw;
  }

  .btn-consult {
    width: 100%;
    height: 5.81vh;

    font-size: 3.59vw;
    letter-spacing: -0.07vw;
  }

  .about-1,
  .about-2 {
    margin: 0 2vw;
  }

  .about-block-1 {
    flex-direction: column;
  }

  .about-num-1 {
    margin-right: 0;
    width: 24px;
    height: 23px;
  }

  .about-h-1 {
    margin: 6.9vh 0 3.79vh 0;

    font-size: 9.23vw;
    letter-spacing: -0.37vw;
  }

  .about-list {
    margin-left: 2vw;
  }

  .about-list li {
    padding-left: 3.1vw;
    margin-top: 1.67vh;
    width: 78.1vw;

    font-size: 3.59vw;
  }

  .about-list li:before {
    width: 1.25vw;
    height: 0.6vh;
  }

  .about-block-2 {
    flex-direction: column;
    margin-top: 4.7vh;
  }

  .about-card-1 {
    margin-right: 0;
    margin-bottom: 7.1vh;
  }

  .about-img-1 {
    width: 100%;
    height: 49.8vh;
  }

  .about-h2-1 {
    margin: 3.8vh 0 1.9vh 0;

    font-size: 6.15vw;
    letter-spacing: -0.06vw;
  }

  .about-p-1,
  .about-p-2 {
    margin: 0;
    opacity: 0.6;

    font-size: 3.59vw;
    letter-spacing: -0.035vw;
  }

  .about-p-1 {
    width: 100%;
  }

  .about-2 {
    padding-top: 40px;
    margin-top: 72px;
    flex-direction: column;
  }

  .about-desc-2 {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-text-2 {
    width: 100%;
    justify-content: flex-start;
    margin-top: 58px;
  }

  .about-h-2 {
    margin: 0;

    font-size: 28px;
    line-height: 140%;
    letter-spacing: -0.28px;
  }

  .about-p-2 {
    width: 340px;
    margin-top: 16px;
  }

  .about-img-2 {
    display: none;
  }

  .about-img-2-1 {
    display: flex;
    width: 100%;
    height: 348px;
    object-fit: cover;
    border-radius: 20px;
  }

  .switch-block {
    width: 100%;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .switch-links {
    flex-direction: column;
    width: 325px;
  }

  .switch-links li {
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .switch-links li:hover {
    color: #00accd;
  }

  .link-num {
    margin-right: 4px;

    font-size: 15px;
    letter-spacing: -0.3px;
  }

  .link-num-pressed {
    margin-right: 4px;

    font-size: 15px;
    letter-spacing: -0.3px;
  }

  .link-text {
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.3px;
  }

  .link-text-pressed {
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.3px;
  }

  .switch-text {
    height: auto;
    margin-top: 24px;
  }

  .switch-text-h {
    font-size: 36px;
    letter-spacing: -0.36px;

    margin: 0 0 24px 0;
    width: 100%;
  }

  .switch-text-p {
    font-size: 14px;
    letter-spacing: -0.14px;

    margin-bottom: 40px;
    width: 310px;
  }
}
