#container {
  margin: 9.65vh 3.1vw;
  display: flex;
  align-items: center;

  color: #666;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.line {
  margin-left: 30px;
  flex: 1;
  height: 1px;
  background-color: #e3e3d3;
}

@media (max-width: 1200px) {
  #container {
    margin-top: 80px;
    margin-bottom: 48px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  .line {
    margin-left: 8px;
  }
}
