.container {
    padding-top: 38px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    top: 0;
    width: calc(100vw - 135px);
    z-index: 100;
    background: rgb(242,242,242);
    background: -moz-linear-gradient(180deg, rgba(242,242,242,1) 20%, rgba(95,80,73,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(242,242,242,1) 20%, rgba(95,80,73,0) 100%);
    background: linear-gradient(180deg, rgba(242,242,242,1) 20%, rgba(95,80,73,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#5f5049",GradientType=1);
}
.logo { 
    margin-right: 60px; 
    display: flex;
    align-items: center;
}
.navigation-bar {
    margin-left: 60px;
    display: flex;
}
.navigation-bar div {
    margin-right: 24px;
}
.contact-us-button {
    background-color: #00ACCD;
    padding: 10px 18px;
    border: none;
    border-radius: 10px 10px;
    color: #fff;
}
.contact-us-text {
    color: #fff;
    text-decoration: none;
}
.contacts-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 13vw;
}
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }

.mobile-menu {
    width: 0;
    opacity: 0;
}
.mobile-menu-container {
    width: 0;
    height: 0;
    opacity: 0;
}
@media (max-width: 1300px) {
    .container {
        padding-top: 24px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        width: calc(100vw - 40px);
    }

    .logo {
        margin-right: 0;
        flex: 1;
    }

    .navigation-bar {
        display: none;
        
    }

    .contacts-info {
        display: none;
    }

    #hide-button {
        display: none;
    }
    .contact-us-button {
        margin-right: 0;
        padding: 11px 25px
    }
    .contact-us-text {
        font-size: 14px;
    }
    .mobile-menu {
        background: none;
        border: none;
        margin-left: 15px;
        width: auto;
        opacity: 1;
    }
    .mobile-menu-position {
        margin-top: 0; position: fixed; top: 0px;
        z-index: 99;
    }
    .mobile-menu-container {
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;opacity: 1;
    }
    .mobile-nav-list {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 108px;
    }
    .mobile-nav-list div {
        margin-bottom: 20px;
    }
    .mobile-info-contacts {
        margin-bottom: 48px;
        margin-left: 20px;
        margin-right: 60px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-info-contacts a {
        display: block;
        font-size: 14px;
        line-height: 110%; /* 15.4px */
        letter-spacing: -0.14px;
        color: #333;
        margin-bottom: 12px;
        text-decoration: none;
    }
    .mobile-info-header {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 110%; /* 17.6px */
        letter-spacing: -0.16px;
        color: #161616
    }
}
