.container {
    padding-top: 38px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    top: 0;
    width: calc(100vw - 155px);
}
.logo { 
    margin-right: 60px; 
}
.navigation-bar {
    margin-left: 60px;
    display: flex;
}
.navigation-bar div {
    margin-right: 24px;
}
.contact-us-button {
    background-color: #00ACCD;
    padding: 10px 18px;
    border: none;
    border-radius: 10px 10px;
    color: #fff;
}
.contacts-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 13vw;
}
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
