.container {
    margin-left: 60px;

}
.reasons-scrollbar {
    margin-top: 48px;
    display: inline-flex;
    flex-direction: row;
}
.reason-card {
    width: 429px;
    height: 265px;
    border: solid 1px #000;
    margin-right: 30px;
    border-radius: 11px;
}
.line-scrollbar {
    margin-top:  90px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 128px;
}
.vert-line {
    height: 25px;
    border-right: solid 1px #000;
}
.vert-line a {
    position: absolute;
    font-size: 18px;
    color: #00ACCD;
    margin-top: 30px;
    align-items: center;
}
.horiz-line {
    width: 643px;
    height: 1px;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 20px 1px;
    background-repeat: repeat-x;
}