.margin-block {
    margin-top: 188px;
}

.head-service {
    margin-top: 32px;
}

.container {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.intro {
    width: auto;
    height: 544px;
    background-image: url('/zheleznodorozhnye-perevozki/zheleznodorozhnye-intro.png');
    background-position: center;
    background-size: cover;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 76px;
    padding-bottom: 76px;
    margin-bottom: 87px;
}

.intro p {
    color: white;
    font-size: 17px;
    width: 477px;
    height: 115px;
    line-height: 23px;
}

.intro a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 47px;
}

.container-body {
    margin-left: 136px;
    margin-right: 136px;
}

.about {
    height: 832px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.about a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 64px;
}

.about-special {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 112px;
}

.about-img {
    width: 40.5vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.text-img {
    width: 740px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-margin {
    margin-top: 87px;
}

.margin-block h1 {
    color: #161616;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin: 0;
}

.margin-top {
    margin-top: 64px;
}

.margin-top div {
    margin-top: 30px;
}

.text-img li {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    list-style-type: none;
    position: relative;
    padding-left: 14px;
    margin-top: 12px;
    width: 580px;
}

.text-img li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(130%);
    width: 6px;
    height: 6px;
    background-color: #161616;
    border-radius: 50%;
}

#margin-list {
    margin-left: 14px;
}

#padding-list {
    padding-left: 14px;
}

#padding-p {
    padding-right: 14px;
}

.text-img p {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    margin-top: 12px;
    width: 370px;
}

.special-p p {
    width: 100%;
    margin-top: 0;
}

.text-img span {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

@media (max-width: 1200px) {
    .margin-block {
        margin-top: 114px;
    }

    .container {
        margin-top: 34px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro {
        padding-left: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
        margin-bottom: 0;
        background-image: url('/zheleznodorozhnye-perevozki/zheleznodorozhnye-intro-mobile.png');
    }

    .intro p {
        font-size: 13px;
        line-height: 19px;
        width: 100%;
        height: 114px;
    }

    .intro a {
        width: 100%;
        height: 44px;
        margin-top: 24px;
        font-size: 17px;
        line-height: 20px;
    }

    .container-body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about {
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 68px;
    }

    .about-img {
        width: 100%;
        height: 330px;
    }

    .text-img {
        width: 100%;
    }

    .margin-block h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .margin-top {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .margin-top div {
        margin-top: 0;
    }

    .text-img li {
        padding-left: 12px;
        width: calc(100% - 14px);
        font-size: 13px;
        line-height: 19px;
    }

    .text-img li:before {
        width: 5px;
        height: 5px;
        transform: translateY(130%);
    }

    #margin-list {
        margin-left: 6px;
    }

    #padding-list {
        padding-left: 0;
    }

    #padding-p {
        padding-right: 0;
    }

    .head-service {
        margin-top: 32px;
    }

    .about a {
        width: 100%;
        height: 44px;
        margin-top: -20px;
        margin-bottom: 32px;
    }

    .about-special {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 68px;
    }

    .text-margin {
        margin-top: 0;
    }

    .text-img p {
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .special-p p {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #margin-special-p {
        margin-top: 20px;
    }
}