.news-line {
    display: flex;
    flex-direction: row;
}

.news-line {
    display: flex;
    flex-wrap: wrap;
}

.news-item-wrapper {
    margin-right: 36px;
    margin-bottom: 36px;
}

.news-item-wrapper:nth-child(2n) {
    margin-right: 0;
}