.about-company {
    margin: 100px 60px;
    border: solid 1px red;
}

.container {
    margin-left: 60px;
    margin-right: 60px;
}
.container h1 {
    width: 1039px;
    color: #161616;
    font-size: 64px;
    font-style: normal;
    line-height: 94%;
    opacity: 0.6;
    margin: 0;
}
.photos-container {
    margin-top: 66px;
    height: 596px;
}
.photos-position {
    position: absolute;
    display: flex;
    width: calc( 166vw - 180px);
    margin-left: calc(-33vw - 60px);
}
.image-flex {
    flex: 1;
    margin-right: 30px;
}
.image {
    flex: 0.8;
    margin-right: 30px;
    height: 596px;
    border-radius: 18px;
    position: relative;
}
.link-read-more {
    border: 1px solid #999;
    padding: 14px 25px;
    display: inline-block;
    margin-top: 47px;
    border-radius: 10px;
}
.reason-container {
    display: flex; 
    justify-content: center;
}
.reasons-box {
    margin-left: 16px;
    width: 654px;
    position: relative;
}
.reason-value {
    font-size: 96px;
    color: #161616
}
.reason-value-big {
    font-size: 112px;
    color: #161616
}
.reason-line {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #e3e3e3;
    margin-top: 16px;
    margin-bottom: 16px;
}
.reason-desc {
    color: #161616;
    opacity: 0.8;

}