.about-company {
    margin: 100px 60px;
    border: solid 1px red;
}

.container {
    margin-left: 60px;
    margin-right: 60px;
}
.container h1 {
    width: 1039px;
    color: #161616;
    font-size: 64px;
    font-style: normal;
    line-height: 94%;
    opacity: 0.6;
    margin: 0;
}
.photos-container {
    margin-top: 66px;
    height: 596px;
}
.photos-position {
    position: absolute;
    display: flex;
    width: calc( 166vw - 180px);
    margin-left: calc(-33vw - 60px);
}
.photos-position-mobile {
    opacity: 0;
    width: 0px;
    height: 0px;
}
.image-flex {
    flex: 1;
    margin-right: 30px;
}
.image {
    flex: 0.8;
    margin-right: 30px;
    height: 596px;
    border-radius: 18px;
    position: relative;
}
.link-read-more {
    border: 1px solid #999;
    padding: 14px 25px;
    display: inline-block;
    margin-top: 47px;
    border-radius: 10px;
    width: 130px;
    text-decoration: none;
    color: #161616;
}
.reason-container {
    display: flex; 
    justify-content: center;
}
.reason-header {
    margin-right: 64px;
}
.reasons-box {
    margin-left: 16px;
    width: 654px;
    position: relative;
}
.reason-value {
    font-size: 96px;
    color: #161616
}
.reason-value-big {
    font-size: 112px;
    color: #161616
}
.reason-line {
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #e3e3e3;
    margin-top: 16px;
    margin-bottom: 16px;
}
.reason-desc {
    color: #161616;
    opacity: 0.8;

}
.reason-box-1 {
    width: 290px;
    margin-right: 90px;
}
@media (max-width: 1200px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .reason-container {
        flex-direction: column;
    }
    .reasons-box {
        width: 100%;
    }
    .reason-value-big {
        font-size: 71px;
    }
    .reason-value {
        font-size: 46px;
    }
    .reason-box-1 {
        width: 100%;
        margin-right: 20px;
    }
    .reason-header {
        margin-bottom: 40px;
        font-size: 23px;
        width: 100%;
        margin-left: 16px;
    }
    .image {
        width: calc(100vw - 80px);
        height: 700px;
        flex: none;
    }
    .photos-position {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    .photos-position-mobile {
        width: calc(100vw - 20px);
        height: auto;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding-bottom: 400px;
        opacity: 1;
    }
    .photos-container {
        margin-bottom: 100px;
    }
}