.margin-block {
    margin-top: 188px;
}

.container {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.head-service {
    margin-top: 32px;
}

.intro {
    width: auto;
    height: 544px;
    background-image: url('/avtoperevozki/avto-intro.webp');
    background-position: center;
    background-size: cover;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 76px;
    padding-bottom: 76px;
    margin-bottom: 87px;
}

.intro p {
    color: white;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
}

.intro-text {
    width: 477px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 60px;
}

.container-body {
    margin-left: 136px;
    margin-right: 136px;
}

.about {
    height: 832px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.margin-top-about-1 {
    margin-top: 52px;
}

.about-img {
    width: 40.5vw;
    height: 100%;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
}



.text-img {
    width: 740px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-block .h1 {
    color: #161616;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin: 0;
}

.margin-top {
    margin-top: 64px;
}

.margin-top div {
    margin-top: 30px;
}

.text-img li {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    list-style-type: none;
    position: relative;
    padding-left: 14px;
    margin-top: 12px;
    width: 580px;
}

.text-img li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(130%);
    width: 6px;
    height: 6px;
    background-color: #161616;
    border-radius: 50%;
}

#margin-list {
    margin-left: 14px;
}

#padding-list {
    padding-left: 60px;
}

#padding-p {
    padding-right: 14px;
}

.text-img p {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    margin-top: 12px;
    width: 270px;
    border: 1px solid #fff;
}

.special-p p {
    width: 100%;
    margin-top: 22px;
}

#margin-p {
    margin-top: 64px;
    margin-bottom: 18px;
}

@media (max-width: 1200px) {
    .margin-block {
        margin-top: 114px;
    }

    .container {
        margin-top: 34px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .head-service {
        margin-top: 6px;
    }

    .intro {
        padding-left: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
        margin-bottom: 0;
        background-image: url('/avtoperevozki/avto-intro-mobile.webp');
    }

    .intro p {
        font-size: 13px;
        line-height: 19px;
    }

    .intro-text {
        width: 261px;
        height: 133px;
    }

    .intro a {
        width: 100%;
        height: 44px;
        margin-top: 33px;
        font-size: 17px;
        line-height: 20px;
    }

    .container-body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about {
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 68px;
    }

    .margin-top-about-1 {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .about-img {
        width: 100%;
        height: 330px;
    }

    .text-img {
        width: 100%;
    }

    .margin-block h1 {
        font-size: 32px;
        line-height: 32px;
    }

    #column-reverse {
        flex-direction: column;
    }

    .margin-top {
        margin-top: 18px;
        margin-bottom: 32px;
    }

    .margin-top div {
        margin-top: 20px;
    }

    .text-img li {
        padding-left: 12px;
        width: calc(100% - 14px);
        font-size: 13px;
        line-height: 19px;
    }

    .text-img li:before {
        width: 5px;
        height: 5px;
        transform: translateY(130%);
    }

    #margin-list {
        margin-left: 6px;
    }

    #padding-list {
        padding-left: 0;
    }

    #padding-p {
        padding-right: 0;
    }

    .text-img p {        
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }

    .special-p p {
        width: 100%;
        margin-top: 0;
    }

    #margin-p {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .margin-bottom-img {
        margin-bottom: 32px;
    }
}