.container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgba(242, 242, 242, 1)), url('../../assets/background-new.webp');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    margin-top: 5vh;
}

.header {
    width: 751px;
}

.container h1 {
    color: #4E4E4E;
    font-family: Inter;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.96px;
    margin: 0;
}

.form-input {
    display: flex;
    flex-direction: row;
    height: 61px;
}

.form-input input {
    width: 205px;
    height: calc(100% - 2px);
    background-color: white;
    border: none;
    padding-left: 20px;
    margin-right: 2px;

    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.form-input input::placeholder {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.form-input input:focus {
    outline: none;
}

.form-input input[type="number"]::-webkit-inner-spin-button,
.form-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-from {
    border-radius: 10px 0 0 10px;
}

.input-to {}

.input-volume {}

.input-weight {}

.input-description {
    border-radius: 0 10px 10px 0;
}

.form-input button {
    width: 172px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #00ACCD;
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    margin-left: 8px;
}

.input-number {
    position: relative;
}

.input-addon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.38);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.insurance-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
    margin: 0;
    margin-top: 10px;
}

.text-insurance {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.insurance-checkbox {
    display: none;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #00ACCD;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.checkmark::before {
    content: url('../../assets/check.svg');
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    opacity: 0;
    pointer-events: none;
    background-color: #00ACCD;
}

.insurance-checkbox:checked+.checkmark::before {
    opacity: 1;
}