.container {
    display: flex;
    margin: 0 60px 73px 60px;
    justify-content: space-between;
    align-items: center;
}

.container div {
    width: calc(100vw - 120px - 200px)
}

#h1_style {
    font-size: 64px;
    margin: 0;
}

.container button {
    width: 248px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #999;
    color: #161616;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.34px;
    background-color: inherit;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container div {
        width: 72vw;
    }

    #h1_style {
        font-size: 32px;
    }

    .container button {
        margin-top: 23px;
        margin-bottom: 32px;
        width: 100%;
    }
}