.container {
  margin: 0 3.1vw;
  height: 38.15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc-form {
  width: 42.15vw;
  height: 35.15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc-h {
  color: #161616;
  font-size: 4.064vw;
  font-style: normal;
  font-weight: 400;
  line-height: 94%;
  letter-spacing: -0.19vw;

  margin: 0;
}

.social-sites {
  width: 17.8vw;
  height: 9.15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-sites-block {
  display: flex;
  flex-direction: column;
}

.social-sites-pos {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-sites-h {
  color: #666;
  font-size: 0.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  opacity: 0.8;
  margin: 0 0 1.86vh 0;
}

.social-sites-p {
  color: #161616;
  font-size: 0.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  opacity: 0.8;
  cursor: pointer;
}

.inputs-form {
  width: 46vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  width: 100%;
  height: 5.65vh;
  border: none;
  border-bottom: solid 1px #e3e3e3;
  background-color: transparent;

  color: #161616;
  font-size: 1.05vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.01vw;
}

.form-input:focus {
  outline: none;
}

.send-form-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 21.4vw;
  height: 3.85vh;
}

.send-form-btn button {
  width: 6.45vw;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: #161616;
  font-size: 0.88vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.015vw;
}

.send-form-btn button:disabled {
  opacity: 0.4;
}

.info-form-p {
  color: #666;
  font-size: 0.677vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  margin: 0;
  width: 13.7vw;
}

@media (max-width: 768px) {
  .container {
    margin: 0 2vw;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .desc-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .desc-h {
    font-size: 8.2vw;
    letter-spacing: -0.33vw;

    margin: 0 0 4.75vh 0;
  }

  .social-sites {
    width: 100%;
    height: 11.25vh;
    justify-content: flex-start;
  }

  .social-sites-block {
    min-width: 35.38vw;
    max-width: 41.02vw;
    margin-right: 11.28vw;
    white-space: nowrap;
  }

  .social-sites-pos {
    height: 6.16vh;
  }

  .social-sites-h {
    font-size: 4.358vw;

    opacity: 0.8;
    margin: 0 0 2.369vh 0;
  }

  .social-sites-p {
    font-size: 4.358vw;

    opacity: 0.8;
    cursor: pointer;
  }

  .inputs-form {
    width: 100%;
    height: 44.549vh;
    margin-top: 9.478vh;
  }

  .form-input {
    width: 100%;
    height: 4.146vh;

    font-size: 4.358vw;
    letter-spacing: -0.043vw;
  }

  .send-form-btn {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }

  .send-form-btn button {
    width: 100%;
    height: 5.687vh;
    margin-bottom: 1.895vh;

    font-size: 4.358vw;
    letter-spacing: -0.087vw;
  }

  .info-form-p {
    font-size: 3.333vw;
    line-height: 135%;
    letter-spacing: -0.033vw;

    margin: 0;
    width: 82.051vw;
  }
}
