.container {
  margin: 0 3.1vw;
  height: 38.15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc-form {
  width: 42.15vw;
  height: 35.15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc-h {
  color: #161616;
  font-size: 4.064vw;
  font-style: normal;
  font-weight: 400;
  line-height: 94%;
  letter-spacing: -0.19vw;

  margin: 0;
}

.social-sites {
  width: 17.8vw;
  height: 9.15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-sites-block {
  display: flex;
  flex-direction: column;
}

.social-sites-pos {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-sites-h {
  color: #666;
  font-size: 0.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  opacity: 0.8;
  margin: 0 0 1.86vh 0;
}

.social-sites-p {
  color: #161616;
  font-size: 0.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  opacity: 0.8;
  cursor: pointer;
}

.inputs-form {
  width: 46vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  width: 100%;
  height: 5.65vh;
  border: none;
  border-bottom: solid 1px #e3e3e3;
  background-color: transparent;

  color: #161616;
  font-size: 1.05vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.01vw;
}

.form-input:focus {
  outline: none;
}

.send-form-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 21.4vw;
  height: 3.85vh;
}

.send-form-btn button {
  width: 6.45vw;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: #161616;
  font-size: 0.88vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.015vw;
}

.send-form-btn button:disabled {
  opacity: 0.4;
}

.info-form-p {
  color: #666;
  font-size: 0.677vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  margin: 0;
  width: 13.7vw;
}
