.head-block-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.1vw;
}

.head-h {
  color: #161616;
  font-size: 3.335vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.132vw;

  margin: 0 0 4.25vh 0;
}

.btn-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-all-services {
  width: 111px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 28, 61, 0.05);
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: #00accd;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.3px;
}

.btn-all-services:hover,
.btn-arrow button:hover {
  background-color: rgba(0, 172, 205, 0.1);
}

.btn-all-services:active,
.btn-arrow button:active {
  background-color: rgba(0, 172, 205, 0.2);
}

.btn-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-arrow button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 30px;
  background-color: rgba(28, 28, 30, 0.05);
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.block-services {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 2.1vw 0 3.1vw;
  margin-bottom: 14.63vh;

  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.block-services::-webkit-scrollbar {
  display: none;
}

.service {
  width: 27.07vw;
  height: 48.13vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.04vw;
}

.service-image {
  width: 27.09vw;
  height: 35.25vh;
  object-fit: cover;
  border-radius: 12px;
}

.text {
  height: 9.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text .h2 {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.019vw;
}

.text p {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.009vw;

  margin: 0;
}

@media (max-width: 768px) {
  .head-block-services {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2vw 3.35vh 2vw;
  }

  .head-h {
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-size: 9.23vw;
    letter-spacing: -0.1vw;

    margin: 0 0 12.05vh 0;
  }

  .btn-head {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .block-services {
    padding: 0 0 0 2vw;
    margin-bottom: 0;
    margin-right: 0;
  }

  .service {
    width: auto;
    height: auto;
    margin-right: 3.07vw;
    justify-content: flex-start;
  }

  .service-image {
    width: 88.25vw;
    height: 39.2vh;
  }

  .text {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .text .h2 {
    font-size: 7.18vw;
    line-height: 140%;
    letter-spacing: -0.07vw;
    margin-top: 3.8vh;
    margin-bottom: 1.9vh;
    width: 38vw;
  }

  .text p {
    font-size: 4.1vw;
    letter-spacing: -0.04vw;
  }
}
