.block-services {
    display: flex;
    flex-direction: row;
    height: 646px;
    overflow-x: scroll;
}

.service {
    height: auto;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-right: 30px;
}

.service img {
    border-radius: 20px;
    height: 278px;
    object-fit: cover;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 258px;
}

.text h2 {
    color: #161616;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}

.text p {
    width: 429px;
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

.text a {
    width: 172px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ACCD;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#margin-left {
    margin-left: 60px;
}

#margin-right {
    margin-right: 60px;
}

@media (max-width: 1200px) {
    .block-services {
        height: 514px;
    }

    .service {
        width: 400px;
        padding: 16px 14px;
        margin-right: 8px;
    }

    .service img {
        height: 183px;
    }

    .text {
        height: 261px;
    }

    .text h2 {
        font-size: 20px;
        line-height: 22px;
        width: 322px;
    }

    .text p {
        width: 288px;
        font-size: 14px;
        line-height: 20px;
    }

    .text a {
        width: 100%;
        height: 48px;
    }

    #margin-left {
        margin-left: 20px;
    }

    #margin-right {
        margin-right: 20px;
    }
}