.container {
    margin-left: 60px;
    margin-right: 60px;
}
.header {
    color: #4E4E4E;
    font-size: 58px;
    line-height: 110%; /* 63.8px */
    letter-spacing: -1.16px;
    font-weight: 400;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 806px;
}
.header-photo {
    margin-top: 60px;
    height: 486px;
    width: 100%;
    background-color: #999;
    border-radius: 12px;
}
.box {
    flex: 1;
    display: flex;
}
.box-first {
    flex: 1;
    display: flex;
    margin-top: 83px;
}
.left {
    border: solid 1px red;
    flex: 1;
    height: 600px;
}
.right {
    border: solid 1px blue;
    flex: 1;
    padding-left: 20px;
    height: 600px;
}
.reasons-left-header {
    margin-left: 230px;
    color: #161616;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 31.05px */
    letter-spacing: -0.46px;
}
.reasons-desc {
    color: #161616;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
    opacity: 0.8;
    width: 654px;
}
.reason-value-big {
    color: #161616;
    font-size: 112px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%; /* 105.28px */
    letter-spacing: -4.48px;
}
.reason-value {
    color: #161616;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 96px */
    letter-spacing: -3.84px;
}
.reason-line {
    height: 1px;
    background-color: #e3e3e3;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}
.reason-desc {
    color: #161616;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
    opacity: 0.8;
}
