.margin-block {
    margin-top: 188px;
}

.head-service {
    margin-top: 32px;
}

.container {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.intro {
    width: auto;
    height: 544px;
    background-image: url('/multimodalnye-perevozki/multimodalnye-intro.png');
    background-position: center;
    background-size: cover;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 76px;
    padding-bottom: 76px;
    margin-bottom: 87px;
}

.intro p {
    color: white;
    font-size: 17px;
    width: 477px;
    height: 115px;
    line-height: 23px;
}

.intro a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 47px;
}

.container-body {
    margin-left: 136px;
    margin-right: 136px;
}

.about {
    height: 807px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.about a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 64px;
}

.about-special {
    height: 524px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 112px;
}

.margin-top-about-1 {
    margin-top: 52px;
}

.about-img {
    width: 40.5vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.text-img {
    width: 740px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-margin {
    margin-top: 87px;
}

.margin-block h1 {
    color: #161616;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin: 0;
}

.margin-top {
    margin-top: 52px;
}

.margin-top div {
    margin-top: 30px;
}

.text-img li {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    list-style-type: none;
    position: relative;
    padding-left: 14px;
    margin-top: 12px;
    width: 580px;
}

.text-img li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(130%);
    width: 6px;
    height: 6px;
    background-color: #161616;
    border-radius: 50%;
}

#margin-list {
    margin-left: 14px;
}

#padding-list {
    padding-left: 14px;
}

#padding-p {
    padding-right: 14px;
}

.short-p {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    margin-top: 12px;
    width: 370px;
}

.long-p {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    margin-top: 12px;
    width: 580px;
}

#margin-p {
    margin-top: 64px;
    margin-bottom: 18px;
}

.about-last {
    display: flex;
    flex-direction: column;
}

.about-last img {
    margin-top: 57px;
}

.services {
    margin: 0 60px;
}

.text-img span {
    color: #161616;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}