.container {
    padding-top: 284px;
    text-align: center;
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 1)), url('../../assets/background2.jpeg');
    background-size: cover;
    background-position: center 70%;
    padding-bottom: 351px;
}

.container h1 {
    font-size: 48px;
    height: 53px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #4E4E4E;

}

.form-container {
    margin-top: 67px;
    display: flex;
    justify-content: center;
}

.form-switches {
    padding: 6px;
    background-color: #fff;
    border-radius: 13px;
    border: solid 1px #d4d4d4;
    display: inline-flex;
}

.form-switches a {
    height: 18px;
    margin: 14px 22px;
    font-size: 16px;
}

.form-inputs-container {
    margin-top: 20px;
    margin: 0 60px;
    width: 1215px;
}

.form-input {
    display: flex;
    justify-content: center;
}

.form-input input {
    height: 61px;
    width: 205px;
    margin-right: 2px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 20px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    outline: none;
}

.input-top-border {
    border-radius: 10px 0 0 10px;
}

.input-bottom-border {
    border-radius: 0 10px 10px 0;
}

.form-input button {
    height: 61px;
    width: 172px;
    border: none;
    border-radius: 10px;
    background-color: #00ACCD;
    color: white;
    font-size: 19px;
    font-weight: 500;
    line-height: 15px;
    margin-left: 6px;
}

.input-container {
    position: relative;
}

.input-field {
    padding-left: 20px;
}

.input-addon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.insurance-container {
    display: flex;
    justify-content: center;
}

.insurance-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
}

#text-insurance {
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.insurance-checkbox {
    width: 18px;
    height: 18px;
    border: solid 1px #00ACCD;
}

.insurance-box button {
    background-color: #00ACCD;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    margin-right: 8px;
}

@media (max-width: 1200px) {
    .container {
        margin-top: 112px;
    }

    .container h1 {
        font-size: 24px;
        height: 30px;
    }

    .form-container {
        margin-top: 40px;
    }

    .form-inputs-container {
        margin-top: 14px;
    }

    .form-input {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-input input {
        height: 61px;
        width: calc(100% - 40px);
        margin-bottom: 2px;
        border: none;
    }

    .input-top-border {
        border-radius: 10px 10px 0 0;
    }

    .input-bottom-border {
        border-radius: 0 0 10px 10px;
    }

    .form-input a {
        width: calc(100% - 40px)
    }

    .form-input button {
        margin-top: 8px;
        width: 100%;
    }

    .insurance-container {
        height: 40px;
    }

    .insurance-box {
        justify-content: flex-start;
        margin-top: 24px;
        width: calc(100% - 48px);
    }
}