.container {
    padding-top: 284px;
    text-align: center;
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, rgba(242,242,242,0.5), rgba(242,242,242,1)), url('../../assets/background2.jpeg');
    background-size: cover ;
    background-position: center 70%;
    padding-bottom: 351px;
}

.container h1 {
    font-size: 48px;
    height: 53px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #4E4E4E;

}

.form-container {
    margin-top: 67px;
}

.form-switches {
    padding: 6px;
    background-color: #fff;
    border-radius: 13px;
    border: solid 1px #d4d4d4;
    display: inline-flex;
}

.form-switches a {
    height: 18px;
    margin: 14px 22px;
    font-size: 16px;
}

.form-inputs-container {
    margin-top: 20px;
}

.form-input {
    display: flex;
    justify-content: center;

}

.form-input input {
    height: 61px;
    width: 205px;
    margin-right: 2px;
    border: none;
    background-color: #f2f2f2;
    padding: 0px 0px;
}

.input-top-border {
    border-radius: 10px 0 0 10px;
}

.input-bottom-border {
    border-radius: 0 10px 10px 0;
}

.form-input button {
    height: 61px;
    width: 172px;
    border: none;
    border-radius: 10px;
    font-size: 19px;
    background-color: #00ACCD;
    color: white;
}

.insurance-container {
    display: flex;
    justify-content: center;
}

.insurance-box {
    width: 1204px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.insurance-box button {
    background-color: #00ACCD;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    margin-right: 8px;
}

@media (max-width: 1200px) {
    .container {
        margin-top: 112px; 
    }

    .container h1 {
        font-size: 24px;
        height: 30px;
    }

    .form-container {
        margin-top: 40px;
    }

    .form-inputs-container {
        margin-top: 14px;
    }

    .form-input {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-input input {
        height: 61px;
        width: calc(100% - 40px);
        margin-bottom: 2px;
        border: none;
    }

    .input-top-border {
        border-radius: 10px 10px 0 0;
    }
    
    .input-bottom-border {
        border-radius: 0 0 10px 10px;
    }

    .form-input a {
        width: calc(100% - 40px)
    }

    .form-input button {
        margin-top: 8px;
        width: 100%;
    }

    .insurance-container {
        height: 40px;
    }

    .insurance-box {
        justify-content: flex-start;
        margin-top: 24px;
        width: calc(100% - 48px);
    }
}