.container {
    --margin-btn-wrap: 35px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: calc(100px - var(--margin-btn-wrap));
}
.services-container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 2809px;
    margin-left: -480px;
}
.service {
    flex: 1;
    height: 646px;
    padding: 30px;
    background-color: white;
    margin-right: 29px;
    border-radius: 20px;
}
.service-image {
    position: relative;
    height: 278px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}
.flex-1 {
    flex: 1;
}
.service-header {
    color: var(--black-black-100, #161616);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 39.6px */
    letter-spacing: -1.44px;
    margin-top: 50px;
    margin-bottom: 24px;
}
.service-desc {
    color: #161616;
    /* Desktop font/Style 10 | 17pt | Regular */
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    opacity: 0.8;
    width: 429px;
}
.service-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 430px;
}