.margin {
    margin-top: 188px;
}
.container {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
}
.intro {
    width: auto;
    height: 544px;
    background-image: url('../../assets/avtopark.webp');
    background-position: center;
    background-size: cover;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 76px;
    padding-bottom: 76px;
    margin-bottom: 87px;
}
.intro p {
    color: white;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
}
.intro-text {
    width: 477px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.intro a {
    color: white;
    background-color: #00ACCD;
    border-radius: 10px;
    width: 234px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 60px;
}
.header-photo {
    width: 100%;
    height: 544px;
    position: relative;
    margin-bottom: 96px;
}
.desc {
    width: 580px;
    margin-bottom: 24px;
}
.desc a {
    color: #161616;
    opacity: 0.8;
}
@media (max-width: 1200px) {
    .intro {
        padding-left: 25px;
        padding-bottom: 25px;
        padding-right: 25px;
        margin-bottom: 0;
        background-image: url('/avtoperevozki/avto-intro-mobile.webp');
    }

    .intro p {
        font-size: 13px;
        line-height: 19px;
    }

    .intro-text {
        width: 261px;
        height: 133px;
    }

    .intro a {
        width: 100%;
        height: 44px;
        margin-top: 33px;
        font-size: 17px;
        line-height: 20px;
    }

}