.container {
  margin: 0 3.1vw;
}

.container a {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.68vw;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  margin-right: 0.21vw;
}

.line {
  margin-top: 5.73vh;
  margin-bottom: 3.89vh;
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}

.bar {
  display: flex;
  text-align: center;
  height: 1.9vh;
}

.nav-pos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 0.84vw;
  display: flex;
  align-items: center;
  width: 0.84vw;
  height: 0.84vh;
}
