.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#h1_style {
  margin: 0;

  color: #fff;
  font-size: 4.064vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2vw;
}
