.container {
  display: flex;
  margin: 0 3.1vw;
  justify-content: space-between;
  align-items: flex-end;
}

#h1_style {
  margin: 0;

  color: #161616;
  font-family: Inter;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2vw;
}
