.container {
    display: flex;
    margin: 0 60px;
    justify-content: space-between;
    align-items: flex-start;
}

.container h1 {
    font-size: 112px;
    margin: 0;
    margin-top: -26px;
}

.news-container {
    display: flex;
    flex-direction: column;
    width: 1190px;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .container {
        margin: 0 20px;
        flex-direction: column;
    }

    .container h1 {
        font-size: 32px;
        margin-top: 0;
    }

    .news-container {
        width: auto;
        margin-left: 0;
        margin-top: 38px;
    }
}