.intro {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0.46) 100%
    ),
    url("../../assets/multimodal-uslugi.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-text {
  margin: 0 3.1vw 6.45vh 3.1vw;
}

.intro-p {
  margin: 2.35vh 0 3.85vh 0;
  width: 30.3vw;

  color: #fff;
  font-size: 0.886vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.btn-consult {
  width: 12.22vw;
  height: 3.85vh;
  border-radius: 10px;
  border: none;
  background-color: #00accd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: #fff;
  font-size: 0.886vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.017vw;
}

.btn-consult:hover {
  background-color: #009dbb;
}

.btn-consult:active {
  background-color: #00829b;
}

.about-1 {
  margin: 0 3.1vw;
  height: 69.1vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.about-desc-1 {
  width: 38.065vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-head-1 {
  width: 33.85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-h-1 {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.025vw;

  margin: 0;
  width: 100%;
}

.about-img-1 {
  width: 100%;
  height: 38.1vh;
  border-radius: 20px;
  object-fit: cover;
}

.switch-block {
  width: 30.92vw;
  height: 100%;
  margin-right: 16.65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switch-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45.25vw;
}

.switch-links li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #161616;
  margin-bottom: 1.15vh;
}

.switch-links li:hover {
  color: #00accd;
}

.link-list {
  display: flex;
  flex-direction: column;
}

.link-num {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.78vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.014vw;

  margin-right: 0.2vw;
}

.link-num-pressed {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.78vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.014vw;

  margin-right: 0.2vw;
  color: #00accd;
}

.link-text {
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.009vw;
}

.link-text-pressed {
  color: #00accd;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.009vw;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

.link-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

.switch-text {
  height: 38.1vh;
  width: 28.45vw;
}

.switch-text-h {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 3.335vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.033vw;

  margin: 0 0 2.28vh 0;
  width: 100%;
}

.switch-text-p {
  color: #161616;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.834vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.008vw;

  margin: 0;
  width: 30.937vw;
  white-space: pre-wrap;
}

.advantages-block {
  margin: 19.267vh 0 0 0;
}

.adv-h {
  width: 30.208vw;
  margin: 0 3.1vw 3.853vh 3.1vw;

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 3.333vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.033vw;
}

.adv-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0 2.5vw 0 3.1vw;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.adv-cards::-webkit-scrollbar {
  display: none;
}

.adv-card {
  padding: 3.082vh 1.666vw;
  background-color: #fafafa;
  border-radius: 16px;
  margin-right: 0.625vw;
}

.adv-card-content {
  width: 26.614vw;
  height: 21.194vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-adv-1 {
  width: 3.697vw;
  height: 6.84vh;
}

.adv-h2 {
  color: #00accd;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018vw;

  margin: 0;
}

.adv-p {
  color: #00accd;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.008vw;

  margin: 0.385vh 0 0 0;
}

.icon-adv-2 {
  width: 4.322vw;
  height: 6.262vh;
}

.icon-adv-3 {
  width: 4.739vw;
  height: 6.454vh;
}

.icon-adv-4 {
  width: 2.76vw;
  height: 5.876vh;
}

.direction-block {
  padding: 0 3.1vw;
  margin-top: 19.267vh;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.direction-block::-webkit-scrollbar {
  display: none;
}

.direct-h {
  color: #1c1c1e;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.05vw;

  margin: 0 7.447vw 0 0;
  width: 40.208vw;
}

.direct-card-1,
.direct-card-2,
.direct-card-3,
.direct-card-4 {
  padding: 4.817vh 3.125vw 3.853vh 3.125vw;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  width: 31.875vw;
  height: 65.51vh;
}

.direct-card-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/multimodal-about-3-1.webp");
  margin-right: 0.625vw;
}

.direct-card-content {
  width: 31.875vw;
  height: 65.799vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direct-h2 {
  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 4.062vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.041vw;

  margin: 0;
}

.direct-link {
  width: 100%;
  height: 5.78vh;
  padding-top: 2.89vh;
  border-top: solid 1px #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.direct-p {
  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.025vw;

  margin: 0;
}

.direct-btn {
  width: 3.125vw;
  height: 5.78vh;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direct-icon {
  width: 1.302vw;
  height: auto;
}

.direct-card-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/multimodal-about-3-2.webp");
  margin-right: 0.625vw;
}

.direct-card-3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/multimodal-about-3-3.webp");
  margin-right: 0.625vw;
}

.direct-card-4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/multimodal-about-3-4.webp");
}
