.margin-block {
    margin-top: 140px;
}
.container {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
}

.main-header {
    display: flex;
    margin-bottom: 248px;
}
.main-header-desc {
    display: flex;
    width: 264px;
    line-height: 135%;
    opacity: 0.8;
    font-size: 17px;
    color: #666;
    margin-right: 270px;
}
.main-header-text {
    opacity: 0.9;
    line-height: 120%;
    letter-spacing: -0.8px;
    color: #161616;
    font-size: 40px;
}
.desc {
    padding-left: 765px;
    margin-bottom: 46px;
}
.desc h2 {
    font-size: 23px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.46px;
    color: #161616;
    margin-bottom: 50px;
}
.desc p {
    opacity: 0.7;
    font-size: 17px;
    line-height: 135%;
    margin-bottom: 32px;
    width: 578px;
    color: #161616;
}
.download-button {
    border: none;
    background: none;
    padding: none;
    display: flex;
}
.download-button-text {
    text-align: left;
    margin-left: 19px
}
.download-button-text div {
    color: #161616;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 22.95px */
}
.download-button-text a {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #666
}
.pdf {
    position: absolute;
    font-size: 9px;
    font-style: normal;
    font-weight: 800;
    line-height: 142%; /* 12.78px */
    text-transform: uppercase;
    color: #0586FF;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
}

@media (max-width: 1200px) {
    .margin-block {
        margin-top: 112px;
    }

    .container {
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-header {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .main-header-desc {
        width: 65%;
        font-size: 14px;
        margin-left: 31vw;
        margin-bottom: 40px;
    }

    .main-header-text {
        color: #161616;
        font-size: 20px;
    }

    .desc {
        margin-top: 40px;
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .desc h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .desc p {
        font-size: 14px;
        margin-bottom: 18px;
        width: 100%;
    }
}